.DS_Store

*/config/database.php
*/system/logs/log-*.php
*/system/cache/*
*/system/cache/!index.html

*/config/database.php
*/config/testing/database.php
*db/*.db

assets/site/cached_images

application/logs/*

*.esproj

.sass-cache

assets/site/modules/modules.php

assets/site/uploads/*
*.psd

assets/site/templates/test_template.php
assets/site/templates/test_template.config.php

assets/site/modules/starter_blog/*
