.DS_Store
application/config/database.php
application/config/testing/database.php
application/db/*.db
.sass-cache

Starter.esproj/user.jamesfinley.espressostorage
Starter.esproj/Project.espressostorage