@mixin rounded($radius: 10px, $topLeft: true, $topRight: true, $bottomLeft: true, $bottomRight: true) {
	@if $topLeft == true and $topRight == true and $bottomLeft == true and $bottomRight == true { 
		border-radius: $radius;
	} @else {
		@if $topLeft == true {
			border-top-left-radius: $radius;
		}
		@if $topRight == true {
			border-top-right-radius: $radius;
		}
		@if $bottomLeft == true {
			border-bottom-left-radius: $radius;
		}
		@if $bottomRight == true {
			border-bottom-right-radius: $radius;
		}
	}
}

@mixin gradient($first, $last) {
	background: $first; /* Old browsers */
	background: -moz-linear-gradient(top, $first 0%, $last 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first), color-stop(100%,$last)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $first 0%,$last 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $first 0%,$last 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, $first 0%,$last 100%); /* IE10+ */
	background: linear-gradient(top, $first 0%,$last 100%); /* W3C */
}


/*-------------------------------------------------
BASIC & RESET
-------------------------------------------------*/

/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

/* Basic */
body {
	font: 14px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
	background: #eee;
}

.container {
	width: 960px;
	margin: 10px auto;
	padding: 10px;
	overflow: auto;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
	background: #fff;
}

#navigation {
	list-style: none;
	overflow: auto;
	margin-bottom: 20px;
	-webkit-border-radius: 3px;
	background: #eee;
	
	li {
		float: left;

		a {
			display: block;
			padding: 10px;
			color: #666;
			text-decoration: none;
			
			&:hover {
				background: #ddd;
				color: #555;				
			}
		}
	}
}

.notice, .error {
	margin: 0 0 20px;
	padding: 10px;
	-webkit-border-radius: 2px;
	color: #200;
	text-align: center;
	font-weight: bold;	
}

.error {
	border: 1px solid #977;
	background: #fdd;
	color: #200;
}

.notice {
	border: 1px solid #997;
	background: #ffd;
	color: #220;	
}

form {
	#title {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
		font-size: 20px;
		.section {
			font-weight: normal;
			color: #555;				
		}
	}

	fieldset {
		margin: 0 0 10px;
		padding: 10px;
		border: 1px solid #eee;
		-webkit-border-radius: 2px;	
		
		legend {
			padding: 0 5px;
			text-transform: uppercase;
			color: #777;
			font-size: 12px;
			font-weight: bold;
		}	
	}
	
	
	.field {
		label {
			display: block;
			&.disabled {
				color: #888;
			}
		}
		&.checkbox label {
			display: inline;
		}
		
		input {
			&[type=text] {
				width: 300px;
				padding: 4px;
				border: 1px solid #aaa;
				-webkit-border-radius: 1px;
				font: 14px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
						
				&:focus {
					outline: none;
					border: 1px solid #666;				
				}
			}
		}
	
		textarea {
			width: 400px;
			max-width: 400px;
			height: 200px;
			max-height: 400px;
			padding: 4px;
			border: 1px solid #aaa;
			-webkit-border-radius: 1px;
			font: 14px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
		
			&:focus {
				outline: none;
				border: 1px solid #666;			
			}
		
			&.wysiwyg {
				width: 670px;
				max-width: 670px;			
			}
		}
	}
	
	.actions {
		clear: left;
		margin-bottom: 10px;
	}
}

#page_variables {
	float: left;
	width: 700px;	
}

#sidebar {
	float: left;
	width: 230px;
	margin-left: 10px;
	padding: 10px;
	-webkit-border-radius: 3px;
	background: #f6f6f6;
	
	h2 {
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #ddd;
		font-size: 16px;		
	}
}

#footer {
	clear: left;
	width: 960px;
	margin-left: -10px;
	padding: 10px 10px 0;
	border-top: 1px solid #ccc;
	font-size: 11px;
}