@import "mixins/_mixins";
@import "reset";

$navigation: #51626F;

/*-------------------------------------------------
BASIC & RESET
-------------------------------------------------*/
body {
	font: 14px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
	background: #eee url(../images/bg.png);
	-webkit-font-smoothing: antialiased;
}

a {
	color: $navigation;
	text-decoration: none;
	&:hover {
		color: lighten($navigation, 10%);
		text-decoration: underline;
	}
}

header {
	position: relative;
	width: 960px;
	height: 40px;
	margin: 10px auto 0;
	padding: 0 10px;
	
	@media only screen and (min-width: 720px) and (max-width: 959px) {
		width: 720px;
	}
	
	h1 {
		float: left;
		width: 200px;
		height: 40px;
	}
	h1.image {
		background-position: center center;
		background-repeat: no-repeat;
		a {
			display: block;
			width: 200px;
			height: 40px;
			text-indent: -9000px;
		}
	}
	.global {
		position: absolute;
		bottom: 0;
		right: 10px;
		font-size: 12px;
	}
	.selected {
		font-weight: bold;
	}
}

.container {
	width: 960px;
	margin: 10px auto;
	padding: 10px;
	overflow: auto;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
	background: #fff;
	
	@media only screen and (min-width: 720px) and (max-width: 959px) {
		width: 720px;
	}
}

#navigation {
	list-style: none;
	overflow: auto;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	background-color: $navigation;
	@include linear-gradient($navigation, darken($navigation, 5%));
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .25), inset 0 -2px 1px rgba(255, 255, 255, .15), inset 0 -1px 1px rgba(0, 0, 0, .35);
	
	li {
		float: left;

		a {
			display: block;
			padding: 10px;
			color: #fff;
			text-decoration: none;
			text-shadow: 0 1px 3px rgba(0, 0, 0, .25);
			-webkit-transition: text-shadow .35s;
			
			&:hover {
				background-color: darken($navigation, 10%);
				-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, .25), inset 0 -2px 1px rgba(255, 255, 255, .15), inset 0 -1px 1px rgba(0, 0, 0, .35);
				text-shadow: 0 3px 3px rgba(0, 0, 0, .25);
			}
			&:active {
				background-color: darken($navigation, 5%);
				-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .25);
			}
			&.selected {
				background-color: darken($navigation, 10%);
				-webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, .35);
			}
		}
	}
}

.notice, .error {
	margin: 0 0 20px;
	padding: 10px;
	-webkit-border-radius: 2px;
	color: #200;
	text-align: center;
	font-weight: bold;	
}

.error {
	border: 1px solid #977;
	background: #fdd;
	color: #200;
}

.notice {
	border: 1px solid #997;
	background: #ffd;
	color: #220;	
}

form {
	#title {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
		font-size: 20px;
		.section {
			font-weight: normal;
			color: #555;				
		}
	}

	fieldset {
		margin: 0 0 10px;
		padding: 10px 10px 0;
		border: 1px solid #eee;
		-webkit-border-radius: 2px;	
		
		legend {
			padding: 0 5px;
			text-transform: uppercase;
			color: #777;
			font-size: 12px;
			font-weight: bold;
		}	
	}
	
	
	.field {	
		margin-bottom: 10px;
				
		label {
			display: block;
			&.disabled {
				color: #888;
			}
			
			.tooltip-help {
				position: relative;
				display: inline-block;
				
				.icon {
					display: inline-block;
					width: 20px;
					height: 20px;
					background: url(../images/icon_help.png) no-repeat center center;
					text-indent: -9000px;
				}
				
				.tooltip {
					display: none;
					position: absolute;
					top: 0;
					left: 24px;
					z-index: 100;
					width: 250px;
					padding: 5px 5px 10px;
					background: url(../images/tooltip_bg.png) repeat-x bottom left;
					border: 1px solid #cc9;
					border-bottom: none;
					@include border-radius(2px);
					@include box-shadow($x: 0, $y: 1px, $blur: 0, $color: rgba(255, 255, 255, .5), $inset: true);
					font-size: 12px;
				}
				
				&:hover .tooltip {
					display: block;
					
					&:before {
						@include position($top: 5px, $left: -6px);
						content: '';
						width: 6px;
						height: 10px;
						background: url(../images/tooltip_arrow.png) no-repeat;
					}
				}
			}
		}
		&.checkbox label {
			display: inline;
		}
		
		input {
			&[type=text], &[type=password] {
				width: 300px;
				padding: 4px;
				border: 1px solid #aaa;
				-webkit-border-radius: 1px;
				font: 14px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
						
				&:focus {
					outline: none;
					border: 1px solid #666;
					-webkit-box-shadow: 0 0 3px 1px opacify(lighten($navigation, 10%), .25);
				}
				
				&[disabled=true] {
					color: #aaa;
				}
			}
		}
		select {
			width: 310px;
		}
	
		textarea {
			width: 400px;
			max-width: 400px;
			height: 200px;
			max-height: 400px;
			padding: 4px;
			border: 1px solid #aaa;
			-webkit-border-radius: 1px;
			font: 14px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
					
			&:focus {
				outline: none;
				border: 1px solid #666;
				-webkit-box-shadow: 0 0 3px 1px opacify(lighten($navigation, 10%), .25);
			}
		
			&.wysiwyg {
				width: 670px;
				max-width: 670px;			
			}
		}
	}
	
	.actions {
		clear: left;
		margin-bottom: 10px;
	}
	
	ul {
		list-style: none;
		margin: {
			left: 20px;
			bottom: 20px;
		}
		
		&.installables {
			.note {
				color: #999;
			}
		}
	}
	
	p {
		margin-bottom: 20px;
	}
}

#page_variables {
	float: left;
	width: 700px;
	margin-bottom: 20px;
	
	@media only screen and (min-width: 720px) and (max-width: 959px) {
		width: 510px;
	}
	
	.repeatable_block {
		position: relative;
		min-height: 100px;
		border: 2px solid #bbb;
		@include border-radius(2px);
		-webkit-box-shadow: 0 0 0 2px #eee;
		-moz-box-shadow: 0 0 0 2px #eee;
		box-shadow: 0 0 0 2px #eee;
		@include linear-gradient(#fff, #f9f9f9);
		margin-bottom: 10px;
		padding: 10px 10px 0;
		
		.repeatable_buttons {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 72px;
			height: 24px;
			opacity: 0;
			overflow: hidden;
			-webkit-transition: .15s;
			
			a {
				display: block;
				float: left;
				width: 24px;
				height: 24px;
				text-indent: -9000px;
				
				&.repeatable_buttons_add {
					background: url(../images/icon_repeatable_add.png) no-repeat center center;
				}
				&.repeatable_buttons_drag {
					background: url(../images/icon_repeatable_drag.png) no-repeat center center;
				}
				&.repeatable_buttons_remove {
					background: url(../images/icon_repeatable_remove.png) no-repeat center center;
				}
			}
			
			@media only screen and (min-width: 720px) and (max-width: 959px) {
				opacity: 1;
			}
		}
		
		&:hover .repeatable_buttons {
			opacity: 1;
		}
	}
}

#sidebar {
	float: left;
	width: 230px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 10px;
	-webkit-border-radius: 3px;
	background: #f6f6f6;
	
	@media only screen and (min-width: 720px) and (max-width: 959px) {
		width: 180px;
	}
	
	&.left {
		margin: 0 10px 10px 0;
	}
	
	h2 {
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #ddd;
		font-size: 16px;		
	}
	
	.note {
		padding: 5px 5px 10px;
		background: #ffc url(../images/sidebar_note_bg.png) repeat-x bottom left;
		border: 1px solid #cc9;
		border-bottom: none;
		@include border-radius(2px);
		@include box-shadow($x: 0, $y: 1px, $blur: 0, $color: rgba(255, 255, 255, .5), $inset: true);
	}
	
	.sidebar_filters {
		font-size: 12px;
		color: #555;
		
		label {
			font-size: 12px;
			color: #777;
		}
		
		select, input[type=text] {
			width: 100%;
			margin-bottom: 5px;
		}
	}
}
ul#sidebar {
	list-style: none;
	padding: 0;
	border: {
		left: 1px solid darken(#fff, 25%);
		right: 1px solid darken(#fff, 25%);
		bottom: 1px solid darken(#fff, 25%);
	}
	
	li {
		&.header, a {
			display: block;
			padding: 4px 0;
		}
		a {
			padding: 4px 10px;
			text-decoration: none;
			
			&:hover {
				background: mix(#e5e5e5, #f6f6f6);
			}
			
			&.selected {
				background: #e5e5e5;
			}
		}
		&.header {
			padding: 3px 5px;
			border-top: 1px solid darken(#fff, 25%);
			border-bottom: 1px solid darken(#fff, 25%);
			@include linear-gradient(darken(#fff, 10%), darken(#fff, 20%));
			font: {
				size: 12px;
				weight: bold;
			}
			text-transform: uppercase;
		}
	}
}

.button {
	padding: 2px 6px;
	border: 1px solid darken(#fff, 30%);
	@include border-radius(12px);
	background: #ddd;
	@include linear-gradient(lighten(#000, 95%), lighten(#000, 80%));
	color: #222;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	font-weight: bold;
	-webkit-transition: .35s;
	
	&:hover {
		@include linear-gradient(lighten(#000, 100%), lighten(#000, 85%));
		color: #222;
		text-decoration: none;
	}
	&:active {
		@include linear-gradient(lighten(#000, 75%), lighten(#000, 90%));
		color: #222;
		text-decoration: none;
	}
	
	&.new {
		position: relative;
		padding-left: 24px;
		
		&:after {
			content: ' ';
			position: absolute;
			left: 4px;
			top: 4px;
			width: 16px;
			height: 16px;
			background: url(../images/icon_add.png) no-repeat;
		}
	}
	
	&.edit {
		position: relative;
		padding-left: 24px;
		
		&:after {
			content: ' ';
			position: absolute;
			left: 4px;
			top: 4px;
			width: 16px;
			height: 16px;
			background: url(../images/icon_edit.png) no-repeat;
		}
	}
	
	&.green {
		@include linear-gradient(lighten(#030, 30%), lighten(#030, 20%));
		border-color: lighten(#030, 10%);
		color: #fff;
		text-shadow: 0 -1px 0 #030;
		
		&:hover {
			@include linear-gradient(lighten(#030, 35%), lighten(#030, 25%));
		}
		&:active {
			@include linear-gradient(lighten(#030, 15%), lighten(#030, 25%));
		}
	}
}

#actions {
	position: relative;
	width: 700px;
	height: 26px;
	margin-bottom: 10px;
	
	@media only screen and (min-width: 720px) and (max-width: 959px) {
		width: 510px;
	}
	
	h2 {
		position: absolute;
		left: 0;
		bottom: 3px;
	}
	
	.button {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	
	#action_buttons {
		float: right;
		
		.button {
			position: relative;
			padding-top: 3px;
			padding-bottom: 4px;
		}
	}
}

#records {
	float: left;
	width: 700px;
	margin-bottom: 10px;
	
	@media only screen and (min-width: 720px) and (max-width: 959px) {
		width: 510px;
	}
	
	ul {
		list-style: none;
		margin: 0;
		
		li {
			clear: left;
			overflow: auto;
			padding: 4px 3px;
			@include border-radius(3px);
			
			&.odd {
				background: darken(#fff, 5%);
			}
			
			.what {
				.sub {
					display: inline-block;
					max-width: 300px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					color: #999;
				}
			}
		}
	}
	
	#pagination {
		margin-top: 10px;
		list-style: none;
		text-align: center;
		
		li {
			display: inline;
			
			a {
				display: inline-block;
				padding: 5px;
				text-align: center;
				
				&:hover {
					background: $navigation;
					color: #fff;
					text-decoration: none;
				}
			}
			
			&.page a {
				width: 20px;
			}
			
			&.current {
				font-weight: bold;
			}
		}
	}
	
	&.pages {
		
		$i: 10;
		$u: 'ul';
		$offset: 10px;
		@while $i > 0 {
			$u: $u + ' ul';
			#{$u} li {
				padding-left: $offset;
			}
			$offset: $offset + 10px;
			$i: $i - 1;
		}
	}
	
	&.install_modules {
		ul {
			margin-bottom: 10px;
		}
	}
	
	.what {
		float: left;
	}
	
	.actions {
		float: right;
		clear: none;
		margin: 0;
		
		.edit, .delete, .view, .settings, .install, .images {
			float: left;
			display: block;
			width: 20px;
			height: 20px;
			margin-left: 2px;
			background: no-repeat center center;
			text-indent: -9000px;
			opacity: .40;
			-webkit-transition: opacity .35s;
			
			&:hover {
				opacity: 1;
			}
		}
		
		.edit { background-image: url(../images/icon_edit.png); }
		.images { background-image: url(../images/icon_images.png); }
		.delete { background-image: url(../images/icon_delete.png); }
		.view { background-image: url(../images/icon_view.png); }
		.settings { background-image: url(../images/icon_settings.png); }
		.install { background-image: url(../images/icon_install_module.png); }
	}
}

#footer {
	clear: left;
	width: 960px;
	margin-left: -10px;
	padding: 10px 10px 0;
	border-top: 1px solid #ccc;
	font-size: 11px;
	
	@media only screen and (min-width: 720px) and (max-width: 959px) {
		width: 720px;
	}
}