@mixin rounded($radius: 10px, $topLeft: true, $topRight: true, $bottomLeft: true, $bottomRight: true) {
	@if $topLeft == true and $topRight == true and $bottomLeft == true and $bottomRight == true { 
		border-radius: $radius;
	} @else {
		@if $topLeft == true {
			border-top-left-radius: $radius;
		}
		@if $topRight == true {
			border-top-right-radius: $radius;
		}
		@if $bottomLeft == true {
			border-bottom-left-radius: $radius;
		}
		@if $bottomRight == true {
			border-bottom-right-radius: $radius;
		}
	}
}

@mixin gradient($first, $last) {
	background: $first; /* Old browsers */
	background: -moz-linear-gradient(top, $first 0%, $last 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first), color-stop(100%,$last)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $first 0%,$last 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $first 0%,$last 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, $first 0%,$last 100%); /* IE10+ */
	background: linear-gradient(top, $first 0%,$last 100%); /* W3C */
}

$navigation: #51626F;


/*-------------------------------------------------
BASIC & RESET
-------------------------------------------------*/

/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

/* Basic */
body {
	font: 14px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
	background: #eee url(../images/bg.png);
	-webkit-font-smoothing: antialiased;
}

a {
	color: $navigation;
	text-decoration: none;
	&:hover {
		color: lighten($navigation, 10%);
		text-decoration: underline;
	}
}

#signin {
	$width: 300px;
	width: $width - 20px;
	margin: 50px auto;
	padding: 10px;
	background: #fff;
	@include rounded(4px);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
	
	h1 {
		width: 200px;
		height: 40px;
		margin-bottom: 10px;
	}
	h1.image {
		background-position: center center;
		background-repeat: no-repeat;
		a {
			display: block;
			width: 200px;
			height: 40px;
			text-indent: -9000px;
		}
	}
	
	label {
		display: block;
		text-transform: lowercase;
		font-weight: bold;
	}
	input[type=text], input[type=password] {
		width: $width - 30px;
		margin: 0 0 10px;
		padding: 4px;
		border: 1px solid #ccc;
		@include rounded(2px);
		font: 14px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
	}
	input[type=submit] {
		display: block;
		width: 60px;
		margin: 0 auto;
		padding: 4px 10px;
		border: none;
		@include rounded(2px);
		background: $navigation;
		@include gradient($navigation, darken($navigation, 5%));
		font: 14px/20px Helvetica Neue, Helvetica, Arial, sans-serif;
		text-shadow: 0 1px 3px rgba(0, 0, 0, .25);
		color: #fff;
		text-transform: lowercase;
		
		&:focus, &:active {
			@include gradient(darken($navigation, 5%), $navigation);
		}
	}
}